.rectangle1{
    width: 100%;
    max-width: 100%;
    min-width: 1924px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: 652px;
    background-color: #F4F7FE;
    margin-top: 41px;
    font-size: 1rem;
}
.rectangleBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxCard{
    display: flex;
    margin-top: 53px;
    width: 100%;
    justify-content: center;
}
@media(max-width:990px){
    .rectangle1{
        height: auto;
    }
    .rectangleBox{
        width: 335px;
    }
    .boxCard{
        flex-direction: column;
        margin-bottom: 71px;
        width: 309px;
    }
}
@media (max-width:768px){
    .rectangle1{
        height: 1518px;
    }
}
@media(max-width:650px){ 
    .rectangle1{
        height: 1518px;
    }
}
@media (max-width:375px){
    .rectangleBox{
        width: 316px;
    }
}