.subscrible{
    width: 100%;
    height: 400px;
    max-width: 100%;
    min-width: 1924px;
    background-color: #F4F7FE;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.group{
    margin-top: 82px;
    margin-bottom: 81.72px;
    width: 383.23px;
    height: 236px;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}
.subscrible aside{
    width: 383px;
    height: 16px;
    margin-top: 15.28px;
    margin-bottom: 0;
    margin-right: 0.23px;
}
.textGroup_2{
    color: #343A40;
    font-weight: 700;
    font-style: italic;
    font-size: 0.75em;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 32px;
}


@media (max-width:450px){
    .textGroup_1{
        font-size: 0.9375em;
    }
}
@media (max-width:375px){
    .group{
        width: 327px;
        height: 193.35012817382812px;
        margin-top: 103.65px;
        margin-bottom: 103px;
        margin-left: 22px;
    }
    .subscrible aside{
        margin:21.04px 0 0 0;
        width: 327px;
        height: 13px;
    }  
}