html{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    transition: background-color 0.4s ease ;
}